h1 {
	font-family: "Lucida Bright", Georgia, serif;
	font-color: #4D5656;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin: 12px;
	text-align: center;
	padding: .5em;
}
h2 {
	font-family: "Lucida Bright", Georgia, serif;
	font-color: #4D5656;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin: 12px;
	text-align: center;
	padding: .5em;
}
p {
	font-family: sans-serif;
	font-color: #4D5656;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
p { 
	margin: 12px;
	width: 800px;
}
a {color: #B03A2E;}
